module {{ moduleName }}
  ( module {{ internalModuleName }},
    module {{ typesModuleName }},
    {% if !(modules | empty) %}
    module Queries
    {% endif %}
  )
where

import {{ internalModuleName }}
import {{ typesModuleName }}
{% for module in modules %}
import {{ module.value }} as Queries
{% endfor %}
