module {{ moduleName }}
  ( module {{ internalModuleName }},
    module Queries
  )
where

import {{ internalModuleName }}
{% for module in modules %}
import {{ module.value }} as Queries
{% endfor %}
